.header {
  grid-area: h;
  background-color: rgb(34, 31, 31);
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

.logo img {
  height: 3.5em;
  justify-self: left;
}

.welcome {
  justify-self: center;
  font-size: 2em;
  font-family: 'Pathway Gothic One', sans-serif;
  text-shadow: 2px 2px darkred;
}

.loginBlock {
  justify-self: right;
  font-size: 1.5em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 1px 1px black;
}

.loginBlock button {
  border-radius: 12px;
  background-color: black;
  color: white;
  border: 1px solid gray;
  margin: 5px;
  cursor: pointer;
}

@media (max-width:750px) {
  .welcome {
    font-size: 1.3em;
  }

  .loginBlock {
    font-size: 1.3em;
  }
}

@media (max-width: 500px) {
  .loginBlock {
    font-size: 1.5em;
  }

  .welcome {
    display: none;
  }
}