.nav {
    grid-area: n;
    background-color: rgb(73, 65, 65);
}

.item {
       color : white;
       padding: 10px;
}

.item a {
  text-decoration: none;
  font-family: cursive;
  font-size: 20px;
  color: white;
}

.item a.activeLink {
  text-shadow: 2px 2px 4px #c6dd85 ;
  font-size: 1.5em;
}