.app-wrapper {
  display: grid;
  widows: 1200px;

  grid-template-areas:
    "h h"
    "n c";


  grid-auto-rows: 80px 1fr;
  grid-template-columns: 1.5fr 10fr;

}

.app-wrapper-content {
  grid-area: c;
  min-height: 1000px;
}